*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --body-copy: 1rem;
  --h1: 3rem;
  --h2: 2.25rem;
  --h3: 1.875rem;
  --h4: 1.5rem;
  --h5: 1.25rem;
  --h6: 1.125rem;
  --mobile-h1: 2rem;
  --mobile-h2: 1.75rem;
  --mobile-h3: 1.5rem;
  --mobile-h4: 1.25rem;
  --mobile-h5: 1.125rem;
  --mobile-h6: 1rem;
  --line-height: 1.6;
  --mobile-line-hight: 1.5;

}

body {
}



/* Mobile Devices use ems? */

/* Phones */ 
/* @media screen and (max-width: 600px) {
  
} */